<a href='/'>Home</a>

<h1>Add User</h1>

<form action='/add-user' method='post'>

  <div>
    <label for='name'>Name</label>
    <input name='name' type='name' />
  </div>

  <div>
    <label for='email'>Email</label>
    <input name='email' type='email' />
  </div>

  <input type='submit' name='save' value='Save'/>

</form>
