<<div id='home-page'>

    <div id='header'>
        <h1>maBhuku angu</h1>
    </div>

   

    <div id='list-books'>
        <h2>Books to buy list</h2>
        <div>books go here</div>
    </div>

</div>
>