<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <script src='/bundle.js'></script>
  </head>
  <body>
    <div id='app'></div>
    <h3>Server side rendering (how lame)</h3>
    {{{body}}}
  </body>
</html>
