<!DOCTYPE html>
<html>
  <head>
    <title>My-Library</title>
    <script src='/bundle.js'></script>
  </head>
  <body>
    <div id='navigation'>
        <button>Home</button>
        <button>My Collection</button>
        <button>Books to Buy</button>
        <button>New Book</button>
        <button>Authors I Love</button>
        <button>New Author</button>        
    </div>

    <div id='body'>
      {{body}}
    </div>
    
  </body>
</html>
